@model IEnumerable<DataMamidibathula.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
        </td>
    </tr>
}
</table>
